<h2>
  our funky goats >> <%= Article.public_count %>
</h2>

<h2>
  add a funky goat >> 
  <span class='plus'><%= link_to '+', new_article_path %></span>
</h2>

<ul class="articles">
  <% @articles.each do |article| %>
    <li>
      <span class='title'><%= link_to article.title, article %></span><br>
      <%= article.body[0..100] %>...
    </li>
  <% end %>
</ul>

