// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Ubuntu&display=swap');

h2 {
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  margin: 0;
}

ul.articles {
  margin-left: -20px;

  li { 
    list-style-type: none; 
    color: darkgray;
    margin: 1em;

    .title {
      font-family: 'Ubuntu', sans-serif;
      color: slateblue;

      &:before { content: '"'; }
      &:after { content: '"'; }
    }

    a {
      text-decoration: none;
      color: slateblue;
    }
  }

  li:before { 
    content: '>>'; 
    font-size: 2rem;
    font-weight: bold;
    margin-left: -1em;
    color: slateblue;
  }
}

span.plus > a {
    text-decoration: none;
    color: slateblue;
}

// Form stuff
form {
  width: 100%;
  margin: 2em 0;
}

label {
  &:before { content: ">>"; }
  &:after { content: "<<"; }

}

#article_title {
  background-color: slateblue;

  &:before {
    content: ">>";
  }

  &:after {
    content: "<<";
  }
}
