// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Ubuntu&display=swap');

// headers in the container
h2 {
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  margin: 0;
  font-weight: bold;
}

ul.articles {
  margin-left: -20px;

  li { 
    list-style-type: none; 
    color: darkgray;
    margin: 1em;

    .title {
      font-family: 'Ubuntu', sans-serif;
      color: slateblue;
      font-style: italic;

      &:before { content: '"'; }
      &:after { content: '"'; }

      &:hover { color: darkslateblue; }
      &:active { color: darkslateblue; }
    }

    a {
      text-decoration: none;
      color: slateblue;

      &:hover { color: darkslateblue; }
      &:active { color: darkslateblue; }
    }
  }

  li:before { 
    content: '>>'; 
    font-size: 2rem;
    font-weight: bold;
    margin-left: -1em;
    color: slateblue;
  }
}

span.plus > a {
  text-decoration: none;
  color: slateblue;
  font-weight: bold;

  &:hover {
    color: darkslateblue;
  }

  &:active {
    color: darkslateblue;
  }
}

p.article {
  margin-top: 1em;
  margin-bottom: 1em;

  font-family: 'Cabin', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: darkgray;

  white-space: pre-wrap;
}

p.article_options {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;

  margin-top: 1em;
  margin-bottom: 2em;

  a {
    text-decoration: none;
    color: slateblue;

    &:hover { color: darkslateblue; }
    &:active { color: darkslateblue; }
  }
}
